/* menu styles*/
.navigation {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    .navigation__item {
      position: relative;
      height: 100%;
      &::after {
        content: " ";
        height: 1.5px;
        width: 0;
        position: absolute;
        bottom: -26px;
        left: 0;
        background: $red;
        transition: all 0.3s ease;
      }
      &:hover,
      &:focus,
      &:active {
        &::after {
          transition: all 0.3s ease;
          width: 100%;
        }
      }
      a {
        color: $light-black;
        text-decoration: none;
        font-family: $roboto;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 125%;
      }
    }
  }
}
