:root {
  font-size: 10px;
  font-family: "Roboto", serif;
}

/* body styles */
.main-page {
  width: 100%;
}

.banner {
  width: 100%;
  background-color: #f1f1f1;
}
.banner .banner-wrap .banner-slider {
  position: relative;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 756px;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block {
  flex: 1;
  display: flex;
  justify-content: end;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc {
  max-width: 680px;
  margin-top: 60px;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc .banner-slider__title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 119%;
  color: #231f20;
  margin-bottom: 40px;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 122%;
  color: #231f20;
  margin-bottom: 16px;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin-bottom: 40px;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc ul li {
  display: flex;
  gap: 12px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 125%;
  color: #4d4d4d;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc ul li::before {
  content: "";
  position: relative;
  display: block;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../images/list-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc .banner-slider__btn-more {
  font-weight: 500;
  font-size: 2rem;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #e21936;
  width: 184px;
  height: 46px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc .banner-slider__btn-more:hover, .banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc .banner-slider__btn-more:focus, .banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__desc-block .banner-slider__desc .banner-slider__btn-more:active {
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #e21936;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__image {
  flex: 1;
  overflow: hidden;
}
.banner .banner-wrap .banner-slider .banner-slider__wrapper .banner-slider__slide .banner-slider__image img {
  height: 100%;
  width: 100%;
  max-height: 756px;
  max-width: 905px;
}
.banner .banner-wrap .banner-slider .banner-pagination {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap {
  display: flex;
  align-items: center;
  width: 143px;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .banner-pagination__btn-prev {
  cursor: pointer;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .banner-pagination__btn-prev path {
  stroke: #231f20;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .swiper-pagination {
  position: relative;
  bottom: 0;
  left: 0;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 125%;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .swiper-pagination .pagination-current {
  color: #231f20;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .swiper-pagination .pagination-total {
  color: #868686;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .banner-pagination__btn-next {
  cursor: pointer;
}
.banner .banner-wrap .banner-slider .banner-pagination .banner-pagination__wrap .banner-pagination__btn-next path {
  stroke: #231f20;
}

.service {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}
.service .service__wrap {
  width: 100%;
  max-width: 1400px;
  margin: 80px 0px;
}
.service .service__wrap h2 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 119%;
  color: #231f20;
}
.service .service__wrap .service__wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.service .service__wrap .service__wrapper .service-card {
  border-radius: 4px;
  width: 320px;
  height: 416px;
  background-color: #ffffff;
  overflow: hidden;
}
.service .service__wrap .service__wrapper .service-card:hover {
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.1);
}
.service .service__wrap .service__wrapper .service-card .service-card__wrap {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
}
.service .service__wrap .service__wrapper .service-card .service-card__wrap .service-card__image {
  width: 100%;
  height: 100%;
  max-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.service .service__wrap .service__wrapper .service-card .service-card__wrap .service-card__info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.service .service__wrap .service__wrapper .service-card .service-card__wrap .service-card__info .service-card__title {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 122%;
  color: #231f20;
}
.service .service__wrap .service__wrapper .service-card .service-card__wrap .service-card__info .service-card__stroke {
  border-radius: 6px;
  width: 80px;
  height: 1px;
  background-color: #e21936;
}
.service .service__wrap .service__wrapper .service-card .service-card__wrap .service-card__info .service-card__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 125%;
  color: #4d4d4d;
}

/* header styles */
.header-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px solid #f1f1f1;
}
.header-block .header-block__networks-wrap {
  height: 48px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
}
.header-block .header-block__networks-wrap .address-block {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-block .header-block__networks-wrap .address-block .address-block__city {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 4px;
}
.header-block .header-block__networks-wrap .address-block .address-block__city p {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  color: #231f20;
}
.header-block .header-block__networks-wrap .address-block .address-block__street {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 129%;
  text-align: center;
  color: #868686;
}

.networks {
  display: flex;
  gap: 24px;
  align-items: center;
}
.networks .networks-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.networks .networks-icon_youtube {
  background-image: url("../images/icon-youtube.svg");
}
.networks .networks-icon_rutube {
  background-image: url("../images/icon-rutube.svg");
}

.header-block__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
  max-width: 1400px;
}
.header-block__info-wrap .header-block__func-block {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-block__info-wrap .header-block__func-block .menu {
  /* menu styles*/
}
.header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list .navigation__item {
  position: relative;
  height: 100%;
}
.header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list .navigation__item::after {
  content: " ";
  height: 1.5px;
  width: 0;
  position: absolute;
  bottom: -26px;
  left: 0;
  background: #e21936;
  transition: all 0.3s ease;
}
.header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list .navigation__item:hover::after, .header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list .navigation__item:focus::after, .header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list .navigation__item:active::after {
  transition: all 0.3s ease;
  width: 100%;
}
.header-block__info-wrap .header-block__func-block .menu .navigation .navigation__list .navigation__item a {
  color: #231f20;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
}
.header-block__info-wrap .header-block__func-block .search {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
}

/* footer styles*//*# sourceMappingURL=style.css.map */